[user]
	name = Matthew Murray
	email = matt@compti.me
	signingkey = F6BC413C0B3C6A7120715D6FBDAF06B2440BC92B
[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore_global
[sendemail]
  smtpserver = mail.compti.me
	smtpuser = matt
	smtpencryption = tls
	smtpserverport = 465

[merge]
	tool = vimmerge
[mergetool]
	keepBackup = false
[mergetool "vimmerge"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[diff]
	tool = vimdiff
[difftool]
	keepBackup = false
[difftool "vimdiff"]
  path = nvim
  prompt = false
