[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/.zgenom"]
	path = zsh/.zgenom
	url = https://github.com/jandamm/zgenom.git
