[user]
  name = Matthew Murray
  email = elegant.dusk3770@fastmail.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFZWac1+fHsX/vTMTdhKlBJU22eS+1pLE4Fr4q4/y/sK

[gpg]
  format = ssh

[commit]
  gpgsign = true

[includeIf "gitdir:~/repos/"]
  path = "~/repos/.gitconfig"

[core]
  excludesfile = "~/.gitignore_global"

[color]
  ui = auto

[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
