[user]
  name = Matthew Murray
  email = matt@compti.me
  signingkey = 3A677B437652A0BBB89566E78EF3AD6D4E980017

[commit]
  gpgsign = true

[includeIf "gitdir:~/repos/"]
  path = "~/repos/.gitconfig"

[core]
  excludesfile = "~/.gitignore_global"
	ignorecase = false

[color]
  ui = auto

[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
