[user]
  name = Matthew Murray
  email = mattmurr001@gmail.com
  signingkey = 2B23FA574DBAD205C8EC60FA0BF8EEEC9FAC39CC

[commit]
  gpgsign = true

[includeIf "gitdir:~/repos/"]
  path = "~/repos/.gitconfig"

[core]
  excludesfile = "~/.gitignore_global"
	ignorecase = false

[color]
  ui = auto

[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
